.main-nav__logo {
  display: block;
  align-self: center;
  cursor: pointer;
  margin-left: 20px;
}

.main-nav__user-wrapper {
  width: 24px;
  height: 24px;
  align-self: center;
  padding-right: 20px;
}

.main-nav__user-wrapper a {
  display: block;
  cursor: pointer;
}

.main-nav__user-wrapper .main-nav__name-wrapper {
  display: none;
}

.main-nav__form-wrapper {
  position: relative;
  margin-top: 13px;
  width: 100%;
}

.main-nav__form-wrapper input {
  width: 100%;
  min-height: 41px;
  padding-left: 49px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 1px solid #bbc4d6;

  &::placeholder {
    color: #bbc4d6;
  }
}

.main-nav__form-wrapper input:hover {
  background-color: #ebebf1;
}

.main-nav__form-wrapper button {
  position: absolute;
  left: 15px;
  width: 30px;
  height: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav__form-wrapper svg {
  position: relative;
  left: 0;
  top: 8px;
}

@media (min-width: $tablet-width) {
  .main-nav__user-wrapper {
    position: relative;
    width: 168px;
    height: 40px;
    order: 3;
    margin-top: -2px;
  }

  .main-nav__user-wrapper::before {
    position: absolute;
    content: "";

    left: 18px;
    top: -20px;

    width: 1px;
    height: 80px;
    background-color: #ebebf1;
  }

  .main-nav__user-wrapper .main-nav__user {
    display: none;
  }

  .main-nav__user-wrapper .main-nav__name-wrapper {
    display: block;
  }

  .main-nav__name-wrapper p {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    font-family: $roboto;
    letter-spacing: 0.01em;
    color: #768298;
  }

  .main-nav__name-wrapper a {
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
  }

  .main-nav__name-wrapper img {
    display: block;
    margin: 0;
    margin-left: 13px;
  }

  .main-nav__form-wrapper {
    margin-top: 0;
    margin-left: 16px;
    width: 44.79%;
    order: 2;
    box-sizing: border-box;
  }

  .main-nav__form-wrapper input {
    min-height: 41px;
    padding-left: 41px;
    border: 1px solid #ebebf1;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .main-nav__form-wrapper button {
    position: absolute;
    left: 15px;
    width: 30px;
    height: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .main-nav__form-wrapper svg {
    position: relative;
    left: -11px;
    top: 7px;
  }
} 

@media (min-width: 1210px) {
  .main-nav__logo {
    margin-left: 0;
  }

  .main-nav__user-wrapper {
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__form-wrapper {
    width: 763px;
  }
}