.main-page {
  margin-top: 71px;
  padding: 0 20px;
  padding-bottom: 73px;
}

.main-page__wrapper h1 {
  margin: 0;
  font-size: 28px;
  line-height: 45px;
  font-weight: 500;
  font-style: normal;
  font-family: $roboto;
  text-align: left;
  text-transform: uppercase;
}

.main-page__wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 29px;
}

.main-page__wrapper li {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 140px;
  line-height: 140px;
  margin: 0 auto;
  margin-top: 18px;
  border-top: 1px solid #ebeff1;
  border-bottom: 1px solid #ebeff1;
}

.main-page__wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  cursor: pointer;
}

.main-page__wrapper li:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
}

.main-page__wrapper img {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-page {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 70px;
  }

  .main-page__wrapper ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 30px;
  }

  .main-page__wrapper li {
    width: 31.45%;
    height: 120px;
    line-height: 120px;
    margin: 0;
    margin-left: 2.74%;
    border: 1px solid #ebeff1;
    box-sizing: border-box;
  }

  .main-page__wrapper li:nth-child(n + 4) {
    margin-top: 20px;
  }

  .main-page__wrapper li:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-page__wrapper h1 {
    font-size: 36px;
    line-height: 58px;
  }

  .main-page__wrapper li {
    width: 270px;
    margin-left: 30px;
  }

  .main-page__wrapper li:nth-child(n + 4) {
    margin-top: 0;
  }

  .main-page__wrapper li:nth-child(3n + 1) {
    margin-left: 30px;
  }
  
  .main-page__wrapper li:nth-child(4n + 1) {
    margin-left: 0;
  }

  .main-page__wrapper li:nth-child(n + 5) {
    margin-top: 30px;
  }
}