.main-header {
  padding-top: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.main-header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .main-header__nav {
    max-width: 1170px;
    margin: 0 auto;
  }
}  